# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
.vscode

# testing
/coverage

# turbo
.turbo

# production
/build
/output
/dist
/stats
/vite-build
/public/plot/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.history
.lh
.env
*.pem
node_modules
worx-dev-tools.json
/public/interceptor.js
/public/service-worker.js
/public/*.webmanifest
/.cert

# yarn
.pnp.*
.yarn/*
!.yarn/cache/.gitignore
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.vercel

*node_modules
.idea
.vagrant
npm-debug.log
.pyc
dist
maps/*.map
browse.VC.db
yarn-error.log
jscramblerSourceMaps
symbolTable.json
*.log
dist-electron
implements/electron/dist
*.p12
*.pfx

reports

/implements/electron/config.json

# Local Netlify folder
.netlify





# Imported from mobile ============================
node_modules/*
node_modules/
yarn-error.log
.idea/*

# OSX
#
mobile/.DS_Store

# Xcode
#
mobile/ios/build/
mobile/ios/*.pbxuser
mobile/ios/!default.pbxuser
mobile/ios/*.mode1v3
mobile/ios/!default.mode1v3
mobile/ios/*.mode2v3
mobile/ios/!default.mode2v3
mobile/ios/*.perspectivev3
mobile/ios/!default.perspectivev3
*xcworkspace/xcuserdata/*
*/xcuserdata/*
mobile/ios/*.xccheckout
mobile/ios/*.moved-aside
mobile/ios/DerivedData
mobile/ios/*.hmap
mobile/ios/*.ipa
mobile/index.ios.bundle.map
*.xcuserstate
*.xcuserdatad
mobile/appstore_upload.p8

# Android/IntelliJ
#
mobile/android/app/build/
mobile/android/build/
mobile/android/.idea
mobile/android/.gradle
mobile/android/local.properties
mobile/android/hermes/*
mobile/android/*.iml
mobile/*.hprof

# Visual Studio Code
#
mobile/.vscode/

# node.js
#
mobile/node_modules/*
mobile/node_modules/
mobile/npm-debug.log
mobile/yarn-error.log

# BUCK
mobile/buck-out/
mobile/\.buckd/
mobile/*.keystore
mobile/android/app/*.keystore
mobile/!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

mobile/*/fastlane/report.xml
mobile/*/fastlane/Preview.html
mobile/*/fastlane/screenshots

# Bundle artifact
mobile/*.jsbundle
mobile/*/ios/Pods/
mobile/ios/Pods/

mobile/.history
mobile/fastlane/report.xml
mobile/android/app/app.iml
mobile/android/lib
mobile/android/native-plot
mobile/google_play_upload.json
mobile/huawei_upload.json

latestRelease/*

# Ruby Bundler
mobile/vendor/*
